<!DOCTYPE HTML>
<html lang="en" th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment Aggregator Response</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var result = /*[[${result}]]*/ 'result';
        var url = /*[[${url}]]*/ 'url';
        var smsInvoice = /*[[${smsInvoice}]]*/ 'smsInvoice';

        window.onload = function () {
            if (smsInvoice == "notEnabled") {
                window.location.replace(url);
            } else {
                AndroidSuccess(result);
            }
        };

        function AndroidSuccess(input) {
            gateway.onResult(input);
        }

        /*]]>*/

    </script>

</head>
<body>
<lottie-player
        autoplay background="transparent" loop speed="1" src="https://assets4.lottiefiles.com/packages/lf20_NCgBCz.json"
        style="height: 100vh; width: 100vh">
</lottie-player>
</body>
</html>
